[Unit]
Description=Alsa to Jack Bridge
After=pipewire.service
Requires=pipewire.service

[Service]
Environment=HOME=/root
WorkingDirectory=/root
ExecStart=/usr/bin/pw-jack /usr/bin/a2jmidid
ExecStartPre=/usr/bin/pw-jack jack_wait -w
Restart=always
RestartSec=1
TimeoutSec=5

[Install]
WantedBy=default.target
