[Unit]
Description=MOD ttymidi
After=pipewire.service
Requires=pipewire.service

[Service]
Environment=HOME=/root
WorkingDirectory=/root
ExecStart=/usr/local/bin/ttymidi -s /dev/ttyAMA0 -b 38400
ExecStartPre=jack_wait -w
Restart=always
RestartSec=1
CPUQuota=20%

[Install]
WantedBy=default.target
