[Unit]
Description=Alsa to Jack Bridge
After=pipewire.service
Requires=pipewire.service

[Service]
Environment=HOME=/root
WorkingDirectory=/root
ExecStart=/usr/bin/a2jmidid
ExecStartPre=jack_wait -w
Restart=always
RestartSec=1
TimeoutSec=5

[Install]
WantedBy=multi-user.target
