[Unit]
Description=Turn on Rainbow LEDs
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/zynthian/zynthbox-qml/rainbow-leds.sh

[Install]
WantedBy=multi-user.target
