[Unit]
Description=Zynthian Webconf FM Server
After=zynthian-webconf.service
Requires=zynthian-webconf.service

[Service]
Environment=PATH=/usr/local/bin:/zynthian/zynthian-sys/sbin:/bin:/usr/bin:/sbin:/usr/sbin
Environment=HOME=/root
Environment=ZYNTHIAN_DIR=/zynthian
Environment=ZYNTHIAN_CONFIG_DIR=/zynthian/config
WorkingDirectory=/zynthian/zynthian-webconf/metaheader
ExecStart=node /zynthian/zynthian-webconf/metaheader/server.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
